:root {
    --background-color : rgb(22, 22, 26);
    --main-letter-color : white;
    --secondary-letter-color : rgb(130, 235, 126);
    --hover-color : #ffffffcb;
}

:root.dark {
    --background-color : rgb(245, 245, 245);
    --main-letter-color : black;
    --secondary-letter-color : rgb(23, 117, 11);
    --hover-color : #333232cb;
}

* {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    color: var(--main-letter-color);

    margin: 0%;

    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

/* ------------------------------- GLOBAL ------------------------------------- */



/* ------------------------------- HEADER ------------------------------------- */
header {
    width: 100%;
    height: 11vh;
    /* For its ocupation in the page */
    position: fixed;
    top: 0;

    display: flex;
    justify-content: space-between;

    background-color: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border: 2px;
    border-style: hidden hidden solid hidden;
    border-color: var(--main-letter-color);
}

header > nav {
    display: flex;
    justify-content: center;
    align-items: center;
    /* For the positioning */

    padding-left: 15%;
}

header > nav > a {
    padding: 30px;
    /* For the positioning */

    text-decoration: none;
    color: var(--secondary-letter-color);
    font-size: 20px;
    font-weight: bold;
}

header > nav > a:hover {
    text-shadow: 1px 1px 30px var(--hover-color);
}

.dark_mode_button {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    min-width: 85px;
    min-height: 30px;
    width: 25%;
    font-size: 17px;
    color: var(--main-letter-color);
    background-color: transparent;
    cursor: pointer;

    border-color: transparent;
    border-radius: 150px;
    box-shadow: 1px 1px 10px var(--secondary-letter-color);
    padding: 7%;

}

.dark_mode_button:hover {
    text-shadow: 2px 2px 30px var(--hover-color);
}

header > .dark_mode_button > button:hover {
    cursor: pointer;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-right: 5%;
}

/* ------------------------------- HEADER ------------------------------------- */



/* ------------------------------- FOOTER ------------------------------------- */

footer {
    height: 8vh;
    width: 100%;

    border: 1px;
    border-style: solid hidden hidden hidden;
    border-color: var(--main-letter-color);

    display: flex;
    justify-content: space-between;
}

footer > .info3 {
    width: 20%;
    padding-left: 7%;

    font-size: 15px;
    font-weight: bold;
}

footer > .email {
    width: 20%;
    padding-right: 7%;
    padding-top: 15px;
}

footer > .email > .contact-form > input {
    font-weight: bold;
    min-width: 120px;
    width: 25%;
    font-size: 15px;
    color: var(--main-letter-color);
    background-color: transparent;
    cursor: pointer;

    border-color: transparent;
    border-radius: 150px;
    box-shadow: 1px 1px 10px var(--secondary-letter-color);
    padding: 7%;
}

footer > .email > .contact-form > input:hover {
    text-shadow: 1px 1px 30px var(--hover-color);
}



footer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer > div > .info1 {
    font-size: 18px;
    color: var(--secondary-letter-color);
    font-weight: bold; 
}

footer > div > .info2{
    font-size: 12px;
}

/* ------------------------------- FOOTER ------------------------------------- */