{% extends 'layout.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<script src="{% static 'js/about.js' %}"></script>
{% endblock %}

{% block body %}
<div class="about" id="about">

    <div class="body">

        <div class="empty1"></div>
        

        <div class="info">

            <div class="board">

                <button class="button_previous"> ‹ </button>
                <button class="button_next"> › </button>

                <div class="text_welcome">
                    <h1>About Me</h1>

                    <p>
                        Hi there, as you´ve seen before my name is Valentim Paulo, and I am on my way to becoming a software engineer. Born in 15/12/2002, I am currently
                        20 years old. As young man myself, my life is still full of mistery and curiosity. Here is some more stuff about me in the board bellow, feel free
                        to look into it, and enjoy my Personal CV. 
                    </p>
                </div>

                <div class="text_education">
                    <h1>Education</h1>

                    <p>
                        Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. 
                        przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, 
                        pozostając praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających 
                        fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem Ipsum oprogramowaniem przeznaczonym do realizacji druków na 
                        komputerach osobistych, jak Aldus PageMaker
                    </p>

                    <ul>
                        <li>Externato Infante Santo</li>
                        <li>Externato Marcelino Champagnat</li>
                        <li>Escola Secundário António Damásio</li>
                        <li>Universidade Lusófona</li>
                    </ul>

                    <p>
                        With the list complete, thanks to my university, I am able to be studying Software Engineering.
                    </p>
                </div>

                <div class="text_skills">
                    <h1>Skills</h1>

                    <p>
                        Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. 
                        przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, 
                        pozostając praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających 
                        fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem Ipsum oprogramowaniem przeznaczonym do realizacji druków na 
                        komputerach osobistych, jak Aldus PageMaker
                    </p>

                    <ul>
                        <li>Java</li>
                        <li>Html</li>
                        <li>Css</li>
                        <li>Kotlin</li>
                        <li>C++</li>
                        <li>Python</li>
                    </ul>
                </div>

                <div class="text_hobbies">
                    <h1>Hobbies</h1>

                    <p>
                        Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. 
                        przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, 
                        pozostając praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających 
                        fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem Ipsum oprogramowaniem przeznaczonym do realizacji druków na 
                        komputerach osobistych, jak Aldus PageMaker
                    </p>

                    <ul>
                        <li>Football</li>
                        <li>Gaming</li>
                        <li>Programing</li>
                        <li>Traveling</li>
                    </ul>
                </div>

                <div class="text_course">
                    <h1>Course</h1>

                    <p>
                        Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. 
                        przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, 
                        pozostając praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających 
                        fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem Ipsum oprogramowaniem przeznaczonym do realizacji druków na 
                        komputerach osobistych, jak Aldus PageMaker
                    </p>

                    <ul>
                        <li>Football</li>
                        <li>Gaming</li>
                        <li>Programing</li>
                        <li>Traveling</li>
                    </ul>
                </div>
            
            </div>

        </div>


        <div class="empty2"></div>

    </div>


  


</div>
{% endblock %}