{% extends 'layout.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/projects.css' %}">
{% endblock %}

{% block body %}
<div class="empty"></div>

<div class="" id="text">
    <h1>Deisi Jungle</h1>
    
    <p>
        Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. 
        przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, 
        pozostając praktycznie niezmienionym.
    </p>
</div>

<div class="deisi_jungle" id="img"></div>

<div class="" id="text">
    <h1>Deisi Sweeper</h1>
    
    <p>
        Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. 
        przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, 
        pozostając praktycznie niezmienionym.
    </p>
</div>

<div class="deisi_sweeper" id="img"></div>

<div class="" id="text">
    <h1>Deisi Flix</h1>
    
    <p>
        Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. 
        przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, 
        pozostając praktycznie niezmienionym.
    </p>
</div>

<div class="deisi_flix" id="img"></div>

<div class="" id="text">
    <h1>Arduino - Casa Inteligente</h1>
    
    <p>
        Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. 
        przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, 
        pozostając praktycznie niezmienionym.
    </p>
</div>

<div class="arduino" id="img"></div>

<div class="" id="text">
    <h1>Não te Constipes</h1>
    
    <p>
        Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. 
        przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, 
        pozostając praktycznie niezmienionym.
    </p>
</div>

<div class="constipes" id="img"></div>
{% endblock %}