{% extends 'layout.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/projects.css' %}">
{% endblock %}

{% block body %}
<div class="body">

    <div class="group">

        <div class="project1">

            <div class="image">
                <img src="{% static 'images/deisi_sweeper.png' %}" alt="">
            </div>

            <div class="text">
                <div>
                    <span class="project_name">Deisi Sweeper</span>
                    <span class="git"><a href=""><i class="fa fa-github"></i></a></span>
                </div>
                
                <span>Fundamentos de Programação</span>
            </div>
        </div>

        <div class="project2">

            <div class="image">
                <img src="{% static 'images/aac_project.png' %}" alt="">
            </div>

            <div class="text">
                <div>
                    <span class="project_name">Arduino</span>
                    <span class="git"><a href=""><i class="fa fa-github"></i></a></span>
                </div>
                
                <span>Arquitetura Avançada de Computadores</span>
            </div>
        </div>
        
    </div>

    <div class="group">
        
        <div class="project1">

            <div class="image">
                <img src="{% static 'images/aed-project.png' %}" alt="">
            </div>

            <div class="text">
                <div>
                    <span class="project_name">Deisi Flix</span>
                    <span class="git"><a href=""><i class="fa fa-github"></i></a></span>
                </div>
                
                <span>Algoritemia e Estrutura de Dados</span>
            </div>
        </div>

        <div class="project2">

            <div class="image">
                <img src="{% static 'images/aed-project.png' %}" alt="">
            </div>

            <div class="text">
                <div>
                    <span class="project_name">Deisi Flix</span>
                    <span class="git"><a href=""><i class="fa fa-github"></i></a></span>
                </div>
                
                <span>Base de Dados</span>
            </div>
        </div>

    </div>

    <div class="group">
    
        <div class="project1">

            <div class="image">
                <img src="{% static 'images/lp1-project.png' %}" alt="">
            </div>

            <div class="text">
                <div>
                    <span class="project_name">Não Te Constipes</span>
                    <span class="git"><a href=""><i class="fa fa-github"></i></a></span>
                </div>
                
                <span>Linguagens de programação 1</span>
            </div>
        </div>

        <div class="project2">

            <div class="image">
                <img src="{% static 'images/lp2-project.png' %}" alt="">
            </div>

            <div class="text">
                <div>
                    <span class="project_name">Deisi Jungle</span>
                    <span class="git"><a href="https://github.com/pedroLopes-a22104722/projetoLP2Parte1"><i class="fa fa-github"></i></a></span>
                </div>
                
                <span>Linguagens de Programação 2</span>
            </div>
        </div>

    </div>

    <div class="group">
        
        <div class="project1">

            <div class="image">
                
            </div>

            <div class="text">
                <div>
                    <span class="project_name">N/A</span>
                    <span class="git"><a href=""><i class="fa fa-github"></i></a></span>
                </div>
                
                <span>N/A</span>
            </div>
        </div>

        <div class="project2">

            <div class="image">
                
            </div>

            <div class="text">
                <div>
                    <span class="project_name">N/A</span>
                    <span class="git"><a href=""><i class="fa fa-github"></i></a></span>
                </div>
                
                <span>N/A</span>
            </div>
        </div>

    </div>

    <div class="group">
        
        <div class="project1">

            <div class="image">
                
            </div>

            <div class="text">
                <div>
                    <span class="project_name"> N/A</span>
                    <span class="git"><a href=""><i class="fa fa-github"></i></a></span>
                </div>
                
                <span>N/A</span>
            </div>
        </div>

        <div class="project2">

            <div class="image">
                
            </div>

            <div class="text">
                <div>
                    <span class="project_name">N/A</span>
                    <span class="git"><a href=""><i class="fa fa-github"></i></a></span>
                </div>
                
                <span>N/A</span>
            </div>
        </div>

    </div>






    
</div>
{% endblock %}